/* wiki algs */

div.pframe  {       
    font-family: monospace,monospace;
    font-size: 1em;

  background-color: #007788;
  color: #002166;
  padding: 10px 2px 10px 10px;
  border: #aaa solid 1px;
  margin:  0px;
  min-height: 20px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;

}

div.pblock  {       
  background-color: #169140;
  color: #002166;
  margin:  4px 2px 0px 0px;  
  padding: 6px 2px 6px 12px;
  border: #aaa solid 1px;
  min-height: 20px;
}

div.pcode  {       
  margin: 0px;
  padding: 2px 0px 2px 0px;
  min-height: 10px;
}

div.phd  {       
  margin: 0px;
  padding: 6px 0px 5px 0px;
  min-height: 10px;
}

div.sep  {       
  margin: 0px;
  padding: 0px;
  border-top-style: dotted;
  border-top-width: 1px;
  border-top-color: #aaa;
}


span#wres  {
  background-color: #000;
  padding:  5px 16px 5px 8px;
  color: #fff;
  font-size:11pt;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;

}

span#wres.module {
  background-color: #410000; /*  */
}

span#wres.func {
  background-color: #004000;
}

span#wres.import {
  background-color: #004040;
}

span#wres.var {
  background-color: #808080;
}

span#wres.const {
  background-color: #707070;
}

span#wres.type {
  background-color: #606060;
}

span#wres.if {
  background-color: #013064;
}

span#wres.else {
  background-color: #014794;
}

span#wres.for {
  background-color: #012054;
}

span#wres.while {
  background-color: #012558;
}

span#wres.repeat {
  background-color: #012558;
}

span#wres.until {
  background-color: #004040;
}

span#wres.return {
  background-color: #AD1C19;
}

span#wres.break {
  background-color: #AD1C19;
}

span#name {
  font-size:11pt;
  margin-left: -8px;
  padding: 1px 6px;
  border: #000 solid 1px;
  background-color: #FDF3B8; 
}

span#cmn {
  color: #6500FF;
  font-weight: bold;  
}

span#op {
  color: #000;
  font-weight: bold;  
}

#l0 {
  background-color: #f9f9f9;
}

#l1 {
  background-color: #e9e9e9;
}

#l2 {
  background-color: #d9d9d9;
}

#l3 {
  background-color: #c9c9c9;
}

#l4 {
  background-color: #b9b9b9;
}

#l5 {
  background-color: #a9a9a9;
}

#l6 {
  background-color: #999999;
}

#l7 {
  background-color: #898989;
}

#l8 {
  background-color: #797979;
}
