{% extends 'alg_user_ru.html' %}
{% load i18n static %}

{% block title %}
{{user}} - содержание модуля {{module_name}}
{% endblock %}

{% block user_modules %}
class="selected"
{% endblock %}

{% block user_content %}
<p>Модуль <a href="/user/module/{{module_name}}/view/">{{user}}.{{module_name}}</a> | <a href="/module/{{user}}.{{module_name}}/" target="_blank">Просмотр</a> </p>
{% if namespace %}
<p>Пространство имен <a href="/namespace/{{namespace}}/">{{namespace}}</a> (по умолчанию)</p>
{% endif %}

<h3>Содержание модуля</h3>
<table width="100%">
{% if names %}
 <tr class="rowH"><th>NN</th><th width="50%">Элемент</th><th>Тип</th><th>Операция</th></tr>
{% endif %}
{% for name in names %}
<tr class="rowA">
<td align=center>{{name.0}}</td>
<td>{% if name.4 %}
{{name.3}}.{{name.1}}
{% else %}
<a href="/alg/{{name.3}}.{{name.1}}/" target="_blank">{{name.3}}.{{name.1}}</a>
{% endif %}</td>
<td>{{name.2}}</td>
<td>
{% if name.4 %}
{% if namespace %}
<a href="/user/module/{{module_name}}.{{name.1}}/publicate/">опубликовать</a>
{% endif %}
{% else %}
<a href="/user/module/{{module_name}}.{{name.1}}/cancel/">отмена публикации</a>
{% endif %}</td>
</tr>                        
{% empty %}
<tr colspan=4><td>Элементов модуля не обнаружено</td></tr>
{% endfor %}
</table>

{% endblock %}


