{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
Демонстрация работы реализации алгоритма "{{alg_title}} [{{owner_name}}.{{module_name}}]"
{% endblock %}

{% block content_before_search %}

<h3>Демонстрация работы реализации алгоритма<br>
<a href="/demo/alg/{{owner_name}}.{{module_name}}.{{group_name}}.{{alg_name}}/">{{alg_title}}</a> [<a href="/module/{{owner_name}}.{{module_name}}/">{{owner_name}}.{{module_name}}</a>]</h3>
<h1><a href="/alg/{{group_name}}.{{alg_name}}/">{{alg_name_ex}}</a> </h1>
<p>каталог: / <a href="/namespace/{{group_name}}/">{{group_name}}</a> 
<br>модуль: <a href="/module/{{owner_name}}.{{module_name}}/">{{owner_name}}.{{module_name}}</a> 
</p>
{% if alg_rels %}
<div class="form">
<form action="/demo/alg/{{owner_name}}.{{module_name}}.{{group_name}}.{{alg_name}}/exec/" method="post"> {% csrf_token %} 
<table><tr>
<td>Выберите код, демонстрирующий работу алгоритма</td>
</tr><tr>
<td> <input name="alg_notation_id" type="hidden" value="{{alg_notation_id}}">
<select name="rel_id" id="rel_id" />
{% for alg_rel in alg_rels %}
<option value="{{alg_rel.6}}">{{alg_rel.2}}.{{alg_rel.1}}[{{alg_rel.4}}.{{alg_rel.3}}] - project {{alg_rel.8}}.{{alg_rel.7}} </option>
{% endfor %}
</select></td>
</tr><tr>
<td><button type="submit" name="submit" id="go" style="width:250px;"> Компиляция кода и запуск демо &raquo; &nbsp; </button></td>
</tr></table>
</form>
</div>
{% else %}
<div>
<p id="error">Кода, демонстрирующего работу данного алгоритма, не обнаружено</p>
<p><a href="/new/module/">Импортировать код, демонстрирующий работу алгоритма </a></p>
</div>
{% endif %}
{% endblock %}

