{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
{{user}} - personal page
{% endblock %}

{% block content %}
<h3>Personal page</h3>
<p><a href="/new/descr/"> Upload descriptions (xml) </a></p>
<p><a href="/new/module/"> Upload source module </a></p>
<p><a href="/new/clear/"> Clear cache </a></p>
{% endblock %}


