{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
{{group_name}}.{{alg_name}} [{{owner_name}}.{{module_name}}] - результат демонстрации алгоритма
{% endblock %}

{% block content_before_search %}

<h3>Результат демонстрации работы алгоритма <a href="/demo/alg/{{owner_name}}.{{module_name}}.{{group_name}}.{{alg_name}}/">{{group_name}}.{{alg_name}} [{{owner_name}}.{{module_name}}]</a></h3>
<h1><a href="/alg/{{group_name}}.{{alg_name}}/">{{alg_name_ex}}</a> </h1>
<p>каталог :: <a href="/namespace/{{group_name}}/">{{group_name}}</a> 
<br>модуль :: <a href="/module/{{owner_name}}.{{module_name}}/">{{owner_name}}.{{module_name}}</a> 
</p>
<p id="editblock">Изображение сгенерировано автоматически демо-кодом</p> 
<div class="clear"></div> 
<hr><br>
<p>&nbsp;&nbsp;&nbsp;<img src="/image/alg/{{owner_name}}.{{module_name}}.{{group_name}}.{{alg_name}}/"></p>
<div class="form">
<form id="demo_form" action="/demo/alg/{{owner_name}}.{{module_name}}.{{group_name}}.{{alg_name}}/mark_ok/" method="post"> {% csrf_token %} 
<input name="rel_name" type="hidden" value="{{rel_name}}">
<input name="rel_group" type="hidden" value="{{rel_group}}">
<input name="rel_module_name" type="hidden" value="{{rel_module_name}}">
<input name="rel_owner" type="hidden" value="{{rel_owner}}">
<hr>
<button style="width:300px;" type="submit" name="submit" id="go"> Отметить демонстрацию, как рабочую &raquo; &nbsp; </button>
<br><br>
</form>
</div>

{% endblock %}

{% block right_column %}
<h3><p id="jp">Примечания</p></h3>
<p id="jp">Отметьте, пожалуйста, результат демонстрации рабочим только в том случае, если картинка корректно отображает результат.</p>
{% endblock %}
