{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
{{alg_title}} - алгоритм
{% endblock %}

{% block content_before_search %}
<h3>Алгоритм</h3>
<h1><a href="/alg/{{group_name}}.{{alg_name}}/">{{alg_name_ex}}</a> </h1>
<p>каталог :: <a href="/namespace/{{group_name}}/">{{group_name}}</a>  </p>

<div id="alg-edit-form">
<form id="edit" action="/edit/alg/{{group_name}}.{{alg_name}}/{{op_def}}/store/" method="post"> {% csrf_token %}   
<p id="editblock">{{def_title}}</p> 
<div class="clear"></div> 
<hr>
{% autoescape off %}
<textarea name="def_value" id="def_value">{{def_value}}</textarea>
{% endautoescape %}
<button type="submit" name="submit" id="go" > Сохранить </button>
</form>
</div>
{% endblock %}

