{% extends 'env_ru.html' %}
{% load i18n static %}

{% block title %}
Ошибка доступа к базе данных
{% endblock %}

{% block content %}
<h3>Ошибка</h3>
<p>Произошла ошибка доступа к базе данных</p>
<h3>Детали</h3>
<div class="wordbreak selblock mono">
{{info}}
</div>
{% endblock %}
