{% extends 'alg_right_en.html' %}
{% load i18n static %}

{% block title %}
{{alg_name_ex}} - algorithm
{% endblock %}

{% block content_before_search %}
<div id="tabs"><ul>
<li id="tab" ><span><a href="/alg/{{group_name}}.{{alg_name}}/">Description</a></span></li>
<li id="tab" {% block sel_code %} {% endblock %}><span><a href="/code/alg/{{group_name}}.{{module_name}}.{{alg_name}}/">Source pseudocode</a></span></li>
</ul></div>

<h3>Algorithm</h3>
<h1><a href="/alg/{{group_name}}.{{alg_name}}/">{{alg_name_ex}}</a> </h1>
<p>catalogue :: <a href="/namespace/{{group_name}}/">{{group_name}}</a>  </p>

{% block alg_content %}{% endblock %}
{% endblock %}

