{% extends 'alg_user_ru.html' %}
{% load i18n static %}

{% block title %}
{% if report_errors > 0 %}
Ошибка обработки пакета
{% else %}
Пакет обработан успешно
{% endif %}
{% endblock %}

{% block user_content %}
{% if report_errors > 0 %}
<h3>Ошибка</h3>
<p>Произошла ошибка обработки пакета: {{fn}} </p>
{% else %}
<h3>Обработка пакета</h3>
<p>Пакет {{fn}} обработан успешно</p>
<form action="/user/files/">
<div class="form-button"><button >Продолжить</button></div>
</form>
<br>
{% endif %}
<h3>Детали</h3>
<div class="wordbreak selblock mono">
{% for info in report %}
{{info}}<br>
{% endfor %}
</div>
{% endblock %}
