{% extends 'alg_right_en.html' %}
{% load i18n static %}

{% block title %}
{{owner_name}}.{{module_name}} - source module
{% endblock %}

{% block content_before_search %}
<h3>Source module</h3>
<h1><a href="/module/{{owner_name}}.{{module_name}}/">{{owner_name}}.{{module_name}}</a> </h1>
<table>
<tr class="rowH">
<th>owner</th><td>{{owner_name}}</td>
</tr><tr>
<th>uploaded</th><td>{{create_date}}</td>
</tr></table>
{% if has_test %}
<p><a href="/download/module/{{owner_name}}.{{module_name}}/">Download source code of the module</a></p> 
{% else %}
<p>The module was not tested</p> 
{% endif %}
<h3>Content</h3>
<table width="100%">
{% if names %}
<tr class="rowH"><th>NN</th><th>Element</th><th>Type</th><th>Pseudocode</th><th>Test</th></tr>
{% endif %}
{% for name in names %}
<tr class="rowA">
<td align=right>{{name.0}}</td>
<td><a href="/alg/{{name.2}}.{{name.1}}/">{{name.2}}.{{name.1}}</a></td>
<td>{{name.4}}</td>
<td><a href="/code/alg/{{owner_name}}.{{module_name}}.{{name.1}}/">{{name.3}}</a></td>
<td>{% if name.6 %}passed{% else %}<a href="/demo/alg/{{owner_name}}.{{module_name}}.{{name.2}}.{{name.1}}/">начать</a>{% endif %}</td>
</tr>                        
{% empty %}
<tr colspan=4><td>The module has no elements</td></tr>
{% endfor %}
</table>
<p><a href="/new/module/">Upload new module version &raquo</a></p> 
<br><br><br>
{% endblock %}

