{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
{{alg_title}} - алгоритм
{% endblock %}

{% block seo %}
<meta name="keywords" content="{{alg_kwords}}" />
<meta name="description" content="{{alg_note}}" />
<meta property="og:title" content="{{alg_title}} - алгоритм" />
<meta property="og:description" content="{{alg_note}}" />
{% endblock %}

{% block content_before_search %}
<h3>{{alg_title}} [алгоритм]</h3>
<h1><a href="/alg/{{group_name}}.{{alg_name}}/">{{alg_name_ex}}</a> </h1>
<p><br>каталог: / <a href="/namespace/{{group_name}}/"> {{group_title}}</a>
{% if alg_tags %}
<br>теги: {% for tag in alg_tags %}{% if tag.0 > 1 %}, {% endif %}<a href="\tag\{{tag.1}}\">{{tag.2}}</a>{% endfor %}
{% endif %}
</p>

<p id="editblock">Название<span class="rightlink">[<a href="/edit/alg/{{group_name}}.{{alg_name}}/title/">править</a>]</span></p> 
<div class="clear"></div> 
<hr>
<p>{{alg_title}}</b></p>

<p id="editblock">Описание<span class="rightlink">[<a href="/edit/alg/{{group_name}}.{{alg_name}}/descr/">править</a>]</span></p> 
<div class="clear"></div> 
<hr>
<div id="descr">
{% autoescape off %}
<p>{{alg_descr}}</p>
{% endautoescape %}
</div>

<p id="editblock">Основная нотация:</p> 
<div class="clear"></div> 
<hr>
<p class="notation">{{alg_def_notation}}</p>

<h3>Параметры</h3>
{% if alg_params %}
<table width="100%">
<tr class="rowH"><th>NN</th><th>Название и тип</th><th>Описание</th>
{% for param in alg_params %}
<tr class="rowA">
<td>{{param.0}}</td>
<td><span id="datatype">{{param.2}}</span> <span id="param">{{param.1}}</span></td>
<td>{{param.3}}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>Нет</p>
{% endif %}

<h3>Реализации</h3>
{% if modules %}
<table width="100%">
{% if is_demo %}
<tr class="rowH"><th>NN</th><th>Модуль</th><th>Псевдокод</th><th>Дата загрузки</th><th>Демо референс</th><th>Иконка</th><th>Скачать</th></tr>
{% else %}
<tr class="rowH"><th>NN</th><th>Модуль</th><th>Псевдокод</th><th>Дата загрузки</th><th>Тест</th><th>Иконка</th><th>Скачать</th></tr>
{% endif %}
{% for module in modules %}
<tr class="rowA">
<td align=right>{{module.6}}{{module.0}}&nbsp;</td>
<td><a href="/module/{{module.3}}.{{module.1}}/">{{module.3}}.{{module.1}}</a></td>
<td><a href="/code/alg/{{module.3}}.{{module.1}}.{{alg_name}}/">смотреть</a></td>
<td>{{module.2}}</td>
{% if is_demo %}
{% if module.7 %}
<td><a href="/alg/{{module.7}}/">{{module.7}}</a></td>
<td><img src="/image/alg/{{module.8}}.{{module.7}}/"></td>
<td><a href="/download/module/{{module.3}}.{{module.1}}/">скачать</a></td>
{% else %}
<td></td>
<td></td>
<td></td>
{% endif %}
{% else %}
{% if module.5 %}
<td>Пройден<br>
<a href="/demo/alg/{{module.3}}.{{module.1}}.{{module.4}}.{{alg_name}}/" >Повторить</a></td>
<td><img src="/image/alg/{{module.3}}.{{module.1}}.{{module.4}}.{{alg_name}}/"></td>
<td><a href="/download/module/{{module.3}}.{{module.1}}/">скачать</a></td>
{% else %}
<td><a href="/demo/alg/{{module.3}}.{{module.1}}.{{module.4}}.{{alg_name}}/">Начать</a></td>
<td></td>
<td></td>
{% endif %}
{% endif %}
</tr>
{% empty %}
<tr colspan=4><td>Реализаций не обнаружено</td></tr>
{% endfor %}
</table>
{% endif %}
<p><a href="/new/module/">Загрузить модуль с реализацией алгоритма &raquo</a></p> 

<br><br><br>
{% endblock %}

