{% extends 'alg_right_en.html' %}
{% load i18n static %}

{% block title %}
Download module {{owner_name}}.{{module_name}} source code
{% endblock %}

{% block content_before_search %}
<h3><a href="/download/module/{{owner_name}}.{{module_name}}/">Download module source code</a></h3>
<h1><a href="/module/{{owner_name}}.{{module_name}}/">{{owner_name}}.{{module_name}}</a> </h1>
<table>
<tr class="rowH">
<th>owner</th><td>{{owner_name}}</td>
</tr><tr>
<th>uploaded</th><td>{{create_date}}</td>
</tr></table>

<h3>Source code</h3>
<table width="100%">
<tr class="rowH"><th>NN</th><th>Language</th><th>Compiler</th><th>Platform</th><th>Test</th><th>Download</th></tr>

{% for packet in packets %}
<tr class="rowA">
<td align=center>{{packet.0}}</td>
<td>{{packet.2}}</td>
<td>{{packet.3}} [{{packet.4}}]</td>
<td>{{packet.5}}</td>
{% if packet.6 %}
<td>passed</td>
<td><a href="/code/{{packet.1}}/{{owner_name}}.{{module_name}}/" target="_blank">Download zip</a></td>
{% else %}
<td></td>
<td></td>
{% endif %}
</tr>
{% endfor %}

</table>
<p>* note: zip is include not only the selected module but also contain subordinates </p>
<br><br><br>
{% endblock %}

