{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
Импорт программного модуля
{% endblock %}

{% block content %}
{% if alg_title %}
<h3>Импорт программного модуля алгоритма "<a href="/new/module/?title={{alg_title}}">{{alg_title}}</a>"</h3>
{% else %}
<h3><a href="/new/module/">Импорт программного модуля</a></h3>
{% endif %}

<div class="file-edit-form">
<form id="edit" action="/new/module/upload/" method="post" enctype="multipart/form-data"> {% csrf_token %}   
<p>Выберите файл с программным кодом</p>
<div class="file-form-group"><input type="file" name="alg_file" placeholder="файл с программным кодом"  class="form-control" required /></div>
<div class="form-button"><button type="submit" name="submit" id="go" > ЗАГРУЗИТЬ </button></div>
</form>
</div>


{% endblock %}




