{% extends 'env_en.html' %}
{% load i18n static %}

{% block title %}
About project
{% endblock %}

{% block content_before_search %}
<h2><p id="jp">About Wikinomy project</p></h2>
<p id="jp">Me, like a many other programmers, had ever to seek ready algorithms. But often, if the algorithms are found, it is not in the project's language.
</p>
<p id="jp">So I thought, what if I make a library of algorithms, which can replenish any programmer. And what if the algorithms can be easily translated into any language?
</p>
<p id="jp">Thus was born the project "Wikinomy" - library of algorithms, that can use and fill up every one of us.
</p>
{% endblock %}


{% block right_column %}
{% autoescape off %}
	<h3>Root catalogue</h3>
		<ul>{{cath}}</ul>
	<h3>Tags</h3>
		<ul>{{tag}}</ul>
{% endautoescape %}
{% endblock %}
