{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
Запрошенный документ не найден" 
{% endblock %}

{% block content_before_search %}
<h3>Документ не найден</h3>
<p>Простите, но такого документа в библиотеке нет.</p>
<p>Возможно использован неверный адрес или он был перемещен или переименован</p>
<br><br>
{% endblock %}

{% block content_after_search %}
{% endblock %}

