{% extends 'env_en.html' %}
{% load i18n static %}

{% block title %}
Error source code convertation
{% endblock %}

{% block content %}
<h3>Error</h3>
<p>Raise error of convertation of the source code/p>
<h3>Details</h3>
<pre>
{{report}}
</pre>

{% endblock %}
