{% extends 'env_ru.html' %}
{% load i18n static %}

{% block title %}Библиотека кода алгоритмов{% endblock %}

{% block seo %}
<meta name="keywords" content="wikinomy, викиномия, библиотека, исходного кода, алгоритмов" >
<meta name="description" content="Wikinomy - хранилище исходного кода алгоритмов в свободном доступе" >
<meta property="og:title" content="Wikinomy - библиотека кода алгоритмов в свободном доступе" >
<meta property="og:description" content="Wikinomy - хранилище исходного кода алгоритмов в свободном доступе" >
{% endblock %}


{% block content_after_search %}
{% autoescape off %}
<h3>Каталог</h3>
 <table class="w100" ><tr>
   <td class="w33"> 
	<ul>{{cath.0}}</ul>
   </td>
   <td class="w33"> 
	<ul>{{cath.1}}</ul>
   </td>
   <td class="w33"> 
	<ul>{{cath.2}}</ul>
   </td>
  </tr></table>
{% endautoescape %}
{% autoescape off %}
<h3>Теги</h3>
<table class="w100" ><tr>
<td class="w33"> 
 <ul>{{tag.0}}</ul>
</td>
<td class="w33"> 
 <ul>{{tag.1}}</ul>
</td>
<td class="w33"> 
 <ul>{{tag.2}}</ul>
</td>
</tr></table>
{% if last_algs %}
<h3>Последние обновления</h3>
<ul>{{last_algs}}</ul>
{% endif %}
{% endautoescape %}
{% endblock %}

{% block right_column %}
<h3>&nbsp;&nbsp;&nbsp;&nbsp;Добро пожаловать!</h3>
<p class="jp">Викиномия - библиотека исходных текстов компьютерных алгоритмов в свободном доступе.</p>
<p class="jp">Структура хранилища построена так, чтобы у каждого алгоритма могли быть альтернативные реализации.</p>
<p class="jp">Каждая реализация алгоритма, которая была успешно скомпилирована и протестирована, имеет иконку, сформированную автоматически с помощью его собственого кода, готова к скачиванию.</p>
<p class="jp">Каждый алгоритм в хранилище может ссылаться на прочие, внутреннюю связность обепечивает сборщик кода. При скачивании кода сборщик проверит внутренние связи алгоритмов и модулей и динамически сформирует пакет модулей исходного кода.</p>
<p class="jp">Алгоритмы хранятся и показываются псевдокодом. При скачивании они переводятся автоматизированно на основные языки программирования, тестирование перевода на которые прошло успешно.</p>
<p class="jp">В дальнейшей разработке планируется для каждой реализации алгоритма формировать ее рейтинг, чтобы можно было выбрать наиболее эффективную.</p>
{% endblock %}
