{% extends 'alg_right_en.html' %}
{% load i18n static %}

{% block title %}
Search "{{search_text}}" 
{% endblock %}

{% block content_before_search %}
{% endblock %}

{% block content_after_search %}
<h3>Search results</h3>
<p>There were no results matching the query</p>
<p><strong>Create algorhytm page: "<a href="/new/module/?title={{search_text}}">{{search_text}}</a>"</strong></p>
{% endblock %}