{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
Предварительный просмотр - Загрузка модуля
{% endblock %}

{% block content %}
<h2><a href="/new/module/preview/?fn={{fn}}">Предварительный просмотр </a> - <a href="/new/module/">Загрузка модуля</a></h2>
<table>
<tr class="rowH">
<th>Модуль</th><td><a href="/new/module/preview/?fn={{fn}}">{{author}}.{{module_name}}</a></td>
</tr><tr>
<th>Namespace</th><td>{{namespace}}{% if nss %} ({{nss}}){% endif %}</td>
{% if project_name %}
</tr><tr>
<th>Project</th><td>{{project_name}}</td>
{% endif %}
</tr><tr>
<th>Автор</th><td>{{author}}</td>
</tr>
</table>

<h3>Состав модуля</h3>
<table width="100%">
<tr class="rowH"><th>NN</th><th>Тип</th><th>Элемент</th><th>Зависимости</th></tr>
{% for func in funcs %}
<tr class="rowA">
{% autoescape off %}
<td>{{func.0}}</td>
<td>{{func.4}}</td>
<td>{{namespace}}.{{func.1}}</td>
<td>{{func.6}}</td>
{% endautoescape %}
</tr>
{% empty %}
<tr colspan=3><td>Алгоритмов не обнаружено</td></tr>
{% endfor %}
</table>

{% if funcs %}
<h3>Запись в библиотеку</h3>
<p>Модуль проверен и готов к записи в библиотеку</p>
<div class="form">
<form method=post action="/new/module/insert/" enctype="multipart/form-data"> {% csrf_token %} 
<input type="hidden" name="fn" value="{{fn}}">
<div class="form-button"><button type=submit name="submit">Записать &raquo; &nbsp;</button></div><br><br>
</form></div>
{% endif %}
{% endblock %}

{% block right_column %}
<h3>Оформление</h3>
<br><b>описание модуля:</b><br>
<br>@@namespace: пространство имен модуля
<br>@@project: имя проекта (только если модуль - часть проекта)
<br>@@owner: логин автора
<br>@@date: дата создания в формате SQL (yyyy-mm-dd)
</p>
{% endblock %}



