{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
{{owner_name}}.{{module_name}} - скачать исходный код модуля
{% endblock %}

{% block content_before_search %}
<h3><a href="/download/module/{{owner_name}}.{{module_name}}/">Скачать исходный код модуля</a></h3>
<h1><a href="/module/{{owner_name}}.{{module_name}}/">{{owner_name}}.{{module_name}}</a> </h1>
<table>
<tr class="rowH">
<th>автор</th><td>{{owner_name}}</td>
</tr><tr>
<th>загружен</th><td>{{create_date}}</td>
</tr></table>

<h3>Исходный код</h3>
<table width="100%">
<tr class="rowH"><th>NN</th><th>Язык</th><th>Компилятор</th><th>Платформа</th><th>Тест</th><th>Скачано</th><th>Скачать</th></tr>

{% for packet in packets %}
<tr class="rowA">
<td align=center>{{packet.0}}</td>
<td>{{packet.2}}</td>
<td>{{packet.3}} [{{packet.4}}]</td>
<td>{{packet.5}}</td>
{% if packet.6 %}
<td>пройден</td>
<td align=center>{{packet.7}}</td>
<td><a href="/code/{{packet.1}}/{{owner_name}}.{{module_name}}/" target="_blank">Скачать zip</a></td>
{% else %}
<td></td>
<td></td>
<td></td>
{% endif %}
</tr>
{% endfor %}

</table>
<p>* примечание: zip включает не только выбранный модуль, но и вызываемые им подчиненные модули</p>
<br><br><br>
{% endblock %}

