{% extends 'alg_right_en.html' %}
{% load i18n static %}

{% block title %}
Preview - upload module
{% endblock %}

{% block content %}
<h2><a href="/new/module/preview/?fn={{fn}}">Preview </a> - <a href="/new/module/">upload module</a></h2>
<table>
<tr class="rowH">
<th>Module</th><td><a href="/new/module/preview/?fn={{fn}}">{{author}}.{{module_name}}</a></td>
</tr><tr>
<th>Namespace</th><td>{{namespace}}{% if nss %} ({{nss}}){% endif %}</td>
{% if project_name %}
</tr><tr>
<th>Project</th><td>{{project_name}}</td>
{% endif %}
</tr><tr>
<th>Owner</th><td>{{author}}</td>
</tr>
</table>

<h3>List of the module elements</h3>
<table width="100%">
<tr class="rowH"><th>NN</th><th>Type</th><th>Element</th><th>Relations</th></tr>
{% for func in funcs %}
<tr class="rowA">
{% autoescape off %}
<td>{{func.0}}</td>
<td>{{func.4}}</td>
<td>{{namespace}}.{{func.1}}</td>
<td>{{func.6}}</td>
{% endautoescape %}
</tr>
{% empty %}
<tr colspan=3><td>Module has no algorithms</td></tr>
{% endfor %}
</table>

{% if funcs %}
<h3>Store to library</h3>
<p>The module was checked and ready to store to library</p>
<div class="form">
<form method=post action="/new/module/insert/" enctype="multipart/form-data"> {% csrf_token %} 
<input type="hidden" name="fn" value="{{fn}}">
<div class="form-button"><button type=submit name="submit">Store &raquo; &nbsp;</button></div><br><br>
</form></div>
{% endif %}
{% endblock %}

{% block right_column %}
<h3>Appearance</h3>
<br><b>Module description:</b> <br>
<br>@@namespace: namespace of then module names
<br>@@project: project name (only if this module is part of then project)
<br>@@owner: wikinomy author login
<br>@@date: creation date in SQL format (yyyy-mm-dd)
</p>
{% endblock %}



