{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
{{owner_name}}.{{module_name}} - программный модуль
{% endblock %}

{% block content_before_search %}
<h3>Программный модуль</h3>
<h1><a href="/module/{{owner_name}}.{{module_name}}/">{{owner_name}}.{{module_name}}</a> </h1>
<table>
<tr class="rowH">
<th>автор</th><td>{{owner_name}}</td>
</tr><tr>
<th>загружен</th><td>{{create_date}}</td>
</tr></table>
{% if has_test %}
<p><a href="/download/module/{{owner_name}}.{{module_name}}/">Скачать исходный код модуля</a></p> 
{% else %}
<p>Модуль не тестировался</p> 
{% endif %}
<h3>Содержание</h3>
<table width="100%">
{% if names %}
 <tr class="rowH"><th>NN</th><th>Элемент</th><th>Тип</th><th>Псевдокод</th>
 {% if has_demo %}
  <th>Demo референс</th>
 {% endif %}
 <th>Тест</th></tr>
{% endif %}
{% for name in names %}
<tr class="rowA">
<td align=right>{{name.0}}</td>
<td><a href="/alg/{{name.2}}.{{name.1}}/">{{name.2}}.{{name.1}}</a></td>
<td>{{name.4}}</td>
<td><a href="/code/alg/{{owner_name}}.{{module_name}}.{{name.1}}/" title="{{name.3}}">смотреть</a></td>
{% if name.5 %}
<td>
{% for rel in name.7 %}
<a href="/alg/{{rel.10}}.{{rel.9}}/">{{rel.10}}.{{rel.9}}</a><br>
{% endfor %}
</td>
<td>{% if name.6 %}
{% for rel in name.7 %}
{% if rel.14 %}
ok [<a href="/module/{{rel.12}}.{{rel.11}}/">{{rel.12}}.{{rel.11}}</a>]<br>
{% else %}
-<br>
{% endif %}
{% endfor %}
{% endif %}</td>
{% else %}
<td>{% if name.6 %}пройден{% else %}<a href="/demo/alg/{{owner_name}}.{{module_name}}.{{name.2}}.{{name.1}}/">начать</a>{% endif %}</td>
{% endif %}
</tr>                        
{% empty %}
<tr colspan=4><td>Модуль не содержит элементов</td></tr>
{% endfor %}
</table>
<p><a href="/new/module/">Загрузить новую версию модуля &raquo</a></p> 
<br><br><br>
{% endblock %}
