{% extends 'alg_user_ru.html' %}
{% load i18n static %}

{% block title %}
{{user}} - список загруженных файлов
{% endblock %}

{% block user_modules %}
class="selected"
{% endblock %}

{% block user_content %}
<p><a href="/user/modules/">Список загруженных модулей</a> </p>
<table width="100%">
{% if modules %}
 <tr class="rowH"><th>NN</th><th width="30%">Модуль</th><th>Дата загрузки</th><th>Дата создания</th><th>Операции</th></tr>
{% endif %}
{% for module in modules %}
<tr class="rowA">
<td align=right>{{module.0}}</td>
<td><a href="/user/module/{{module.1}}/view/">{{user}}.{{module.1}}</a></td>
<td>{{module.2}}</td>
<td>{{module.3}}</td>
<td></td>
</tr>                        
{% empty %}
<tr colspan=4><td>Модулей не обнаружено</td></tr>
{% endfor %}
</table>

{% endblock %}


