{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
Импорт описаний
{% endblock %}

{% block content %}
<h3><a href="/new/descr/">Импорт описаний</a></h3>
{% if info %}<p id="error">{{info}}</p>{% endif %}
<div class="file-edit-form">
<form id="edit" action="/new/descr/upload/" method="post" enctype="multipart/form-data"> {% csrf_token %}   
<p>Выберите файл с описанием библиотечный элементов (xml)</p>
<div class="file-form-group"><input type="file" name="descr_file" placeholder="файл с описанием библиотечный элементов (xml)" accept="text/xml" class="form-control" required /></div>
<div class="form-button"><button type="submit" name="submit" id="go" > ЗАГРУЗИТЬ </button></div>
</form>
</div>

{% endblock %}




