{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
Предварительный просмотр - Загрузка описаний
{% endblock %}

{% block content %}
<h2><a href="/new/descr/preview/?fn={{fn}}">Предварительный просмотр </a> - <a href="/new/descr/">Загрузка описаний</a></h2>

<h3>Список элементов</h3>
<table width="100%">
<tr class="rowH"><th>NN</th><th>Тип</th><th>Название</th><th>Параметр</th><th>Значение</th></tr>
{% for cell in cells %}
<tr class="rowA">
{% autoescape off %}
<td>{{cell.0}}</td>
<td>{{cell.1}}</td>
<td>{{cell.2}}</td>
<td>{{cell.3}}.{{cell.4}}</td>
<td>{{cell.5}}</td>
{% endautoescape %}
</tr>
{% empty %}
<tr colspan=3><td>Элементов не обнаружено</td></tr>
{% endfor %}
</table>

{% if cells %}
<h3>Запись в библиотеку</h3>
<p>Файл проверен и готов к записи в библиотеку</p>
<div class="form">
<form method=post action="/new/descr/insert/" enctype="multipart/form-data"> {% csrf_token %} 
<input type="hidden" name="fn" value="{{fn}}">
<input type=submit name="submit" value='Записать  &raquo; &nbsp;'><br><br>
</form></div>
{% endif %}
{% endblock %}

{% block right_column %}
<h3>Оформление</h3>
{% endblock %}



