{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
{{tag_title}} - тематическая подборка алгоритмов
{% endblock %}

{% block seo %}
<meta name="keywords" content="{{tag_title}}, тематическая, алгоритмов" />
{% endblock %}

{% block content_before_search %}
<h3><a href="{{tag_link}}">{{tag_title}}</a> [тематический тег]</h3>
{% autoescape off %}
<ul>{{alg}}</ul>
{% endautoescape %}
<br><br>
{% endblock %}

