{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
{{alg_name_ex}} - алгоритм
{% endblock %}

{% block content_before_search %}
<div id="tabs"><ul>
<li id="tab" ><span><a href="/alg/{{group_name}}.{{alg_name}}/">Описание</a></span></li>
<li id="tab" {% block sel_code %} {% endblock %}><span><a href="/code/alg/{{owner_name}}.{{module_name}}.{{alg_name}}/">Псевдокод</a></span></li>
</ul></div>

<h3>Алгоритм</h3>
<h1><a href="/alg/{{group_name}}.{{alg_name}}/">{{alg_name_ex}}</a> </h1>
<p>реализация :: <a href="/module/{{owner_name}}.{{module_name}}/">{{owner_name}}.{{module_name}}</a>  </p>

{% block alg_content %}{% endblock %}
{% endblock %}

