{% extends 'alg_user_ru.html' %}
{% load i18n static %}

{% block title %}
{{user}} - содержание пакета {{fn}}
{% endblock %}

{% block user_files %}
class="selected"
{% endblock %}

{% block user_content %}
<p>Пакет <a href="/user/file/{{fn}}/view/">{{fn}}</a> | <a href="/user/files/"> Список загрузок </a> | <a href="/user/file/{{fn}}/proc/"> Обработать </a> </p>

<h3>Содержание пакета</h3>
<table width="100%">
{% if names %}
 <tr class="rowH"><th>NN</th><th width="50%">Файл</th><th>Размер</th><th>Дата</th></tr>
{% endif %}
{% for name in names %}
<tr class="rowA">
<td align=right>{{name.0}}</td>
<td>{{name.1}}</td>
<td>{{name.2}}</td>
<td>{{name.3}}</td>
</tr>                        
{% empty %}
<tr colspan=4><td>Файлов в пакете не обнаружено</td></tr>
{% endfor %}
</table>

{% endblock %}


