{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
{{user}} - персональная страница
{% endblock %}

{% block content %}
<h3>Персональная страница [{{user}}]</h3>

<div id="tabs"><ul>
<li id="tab" {% block user_files %}{% endblock %}><span><a href="/user/files/">Файлы</a></span></li>
<li id="tab" {% block user_modules %}{% endblock %}><span><a href="/user/modules/">Модули</a></span></li>
<li id="tab" ><span><a href="/user/clearcache/">Очистить кеш</a></span></li>
</ul></div>

{% block user_content %}{% endblock %}
{% endblock %}


