{% extends 'env_ru.html' %}
{% load i18n static %}

{% block title %}
Ошибка конвертации исходного текста
{% endblock %}

{% block content %}
<h3>Ошибка</h3>
<p>Произошла ошибка конвертации исходного текста</p>
<h3>Детали</h3>
<pre>
{{report}}
</pre>

{% endblock %}
