{% extends 'env_en.html' %}
{% load i18n static %}

{% block title %}
Database access error
{% endblock %}

{% block content %}
<h3>Error</h3>
<p>Raise database access error</p>
<h3>Details</h3>
<div class="wordbreak selblock mono">
{{info}}
</div>
{% endblock %}
