{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
{{cath_title}} - пространство имен
{% endblock %}

{% block seo %}
<meta name="keywords" content="{{cath_title}}, пространство имен" />
{% endblock %}

{% block content_before_search %}
<h2><a href="{{cath_link}}">{{cath_title}}</a> [пространство имен]</h2>
{% autoescape off %}
<ul>{{alg}}</ul>
{% endautoescape %}
{% if subcaths %}
<h3>Подкаталоги</h3>
{% autoescape off %}
{{subcaths}}
{% endautoescape %}
{% endif %}
<br><br>
{% endblock %}


