{% extends 'alg_user_ru.html' %}
{% load i18n static %}

{% block title %}
{{user}} - список загруженных файлов
{% endblock %}

{% block user_files %}
class="selected"
{% endblock %}

{% block user_content %}
<p><a href="/user/files/">Список загруженных файлов</a> | <a href="/new/zip/">Загрузить файл</a></p>
<table width="100%">
{% if names %}
 <tr class="rowH"><th>NN</th><th width="30%">Файл</th><th>Тип</th><th>Размер</th><th>Дата загрузки</th><th>Операции</th></tr>
{% endif %}
{% for name in names %}
<tr class="rowA">
<td align=right>{{name.0}}</td>
<td><a href="/user/file/{{name.1}}/view/">{{name.1}}</a></td>
<td>{{name.2}}</td>
<td>{{name.3}}</td>
<td>{{name.4}}</td>
<td><a href="/user/file/{{name.1}}/proc/">обработать</a> | <a href="/user/file/{{name.1}}/del/">удалить</a></td>
</tr>                        
{% empty %}
<tr colspan=4><td>Загрузок не обнаружено</td></tr>
{% endfor %}
</table>

{% endblock %}


