{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
{{search_text}} - Поиск алгоритмов
{% endblock %}

{% block content_before_search %}
<h2>Найдено алгоритмов: {{alg_count}}</h2>
{% autoescape off %}
<ul>{{alg}}</ul>
{% endautoescape %}
<br><br>
{% endblock %}

