{% extends 'alg_right_en.html' %}
{% load i18n static %}

{% block title %}
{{search_text}} - algorhytm searching
{% endblock %}

{% block content_before_search %}
<h2>Found algorhytm(s): {{alg_count}}</h2>
{% autoescape off %}
<ul>{{alg}}</ul>
{% endautoescape %}
<br><br>
{% endblock %}

