{% extends 'alg_right_en.html' %}
{% load i18n static %}

{% block title %}
{{alg_title}} - алгоритм
{% endblock %}

{% block seo %}
<meta name="keywords" content="{{alg_kwords}}" />
<meta name="description" content="{{alg_note}}" />
<meta property="og:title" content="{{alg_title}} - алгоритм" />
<meta property="og:description" content="{{alg_note}}" />
{% endblock %}

{% block content_before_search %}
<h3>{{alg_title}} [алгоритм]</h3>
<h1><a href="/alg/{{group_name}}.{{alg_name}}/">{{alg_name_ex}}</a> </h1>
<p><br>namescape: / <a href="/namespace/{{group_name}}/"> {{group_title}}</a>
{% if alg_tags %}
<br>tags: {% for tag in alg_tags %}{% if tag.0 > 1 %}, {% endif %}<a href="/tag/{{tag.1}}/">{{tag.2}}</a>{% endfor %}
{% endif %}
</p>

<p id="editblock">Title<span class="rightlink">[<a href="/edit/alg/{{group_name}}.{{alg_name}}/title/">edit</a>]</span></p> 
<div class="clear"></div> 
<hr>
<p>{{alg_title}}</b></p>

<p id="editblock">Description<span class="rightlink">[<a href="/edit/alg_/{{group_name}}.{{alg_name}}/descr/">edit</a>]</span></p> 
<div class="clear"></div> 
<hr>
<div id="descr">
{% autoescape off %}
<p>{{alg_descr}}</p>
{% endautoescape %}
</div>

<p id="editblock">Base notation:</p> 
<div class="clear"></div> 
<hr>
<p class="notation">{{alg_def_notation}}</p>

<h3>Parameters</h3>
{% if alg_params %}
<table width="100%">
<tr class="rowH"><th>NN</th><th>Name and type</th><th>Description</th>
{% for param in alg_params %}
<tr class="rowA">
<td>{{param.0}}</td>
<td><span id="datatype">{{param.2}}</span> <span id="param">{{param.1}}</span></td>
<td>{{param.3}}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>Nothing</p>
{% endif %}

<h3>Implementation</h3>
{% if modules %}
<table width="100%">
{% if is_demo %}
<tr class="rowH"><th>NN</th><th>Module</th><th>Pseudocode</th><th>Upload date</th><th>Demo reference</th><th>Icon</th><th>Download</th></tr>
{% else %}
<tr class="rowH"><th>NN</th><th>Module</th><th>Pseudocode</th><th>Upload date</th><th>Test</th><th>Icon</th><th>Download</th></tr>
{% endif %}
{% for module in modules %}
<tr class="rowA">
<td align=right>{{module.6}}{{module.0}}&nbsp;</td>
<td><a href="/module/{{module.3}}.{{module.1}}/">{{module.3}}.{{module.1}}</a></td>
<td><a href="/code/alg/{{module.3}}.{{module.1}}.{{alg_name}}/">view</a></td>
<td>{{module.2}}</td>
{% if is_demo %}
{% if module.7 %}
<td><a href="/alg/{{module.7}}/">{{module.7}}</a></td>
<td><img src="/image/alg/{{module.8}}.{{module.7}}/"></td>
<td><a href="/download/module/{{module.3}}.{{module.1}}/">download</a></td>
{% else %}
<td></td>
<td></td>
<td></td>
{% endif %}
{% else %}
{% if module.5 %}
<td>Passed<br>
<a href="/demo/alg/{{module.3}}.{{module.1}}.{{module.4}}.{{alg_name}}/" >repeat</a></td>
<td><img src="/image/alg/{{module.3}}.{{module.1}}.{{module.4}}.{{alg_name}}/"></td>
<td><a href="/download/module/{{module.3}}.{{module.1}}/">download</a></td>
{% else %}
<td><a href="/demo/alg/{{module.3}}.{{module.1}}.{{module.4}}.{{alg_name}}/">Start</a></td>
<td></td>
<td></td>
{% endif %}
{% endif %}
</tr>
{% empty %}
<tr colspan=4><td>Nothing</td></tr>
{% endfor %}
</table>
{% endif %}
<p><a href="/new/module/">Upload algorithm source module &raquo</a></p> 

<br><br><br>
{% endblock %}

