{% extends 'alg_right_en.html' %}
{% load i18n static %}

{% block title %}
{{tag_title}} - tag selection
{% endblock %}

{% block seo %}
<meta name="keywords" content="{{tag_title}}, tag, selection" />
{% endblock %}

{% block content_before_search %}
<h3><a href="{{tag_link}}">{{tag_title}}</a> [tag]</h3>
{% autoescape off %}
<ul>{{alg}}</ul>
{% endautoescape %}
<br><br>
{% endblock %}

