{% extends 'env_ru.html' %}
{% load i18n static %}

{% block right_column %}
{% autoescape off %}
	<h3>Каталоги</h3>
		<ul>{{cath}}</ul>
	<h3>Теги</h3>
		<ul>{{tag}}</ul>
{% endautoescape %}
{% endblock %}
