{% extends 'alg_view_en.html' %}
{% load i18n static %}

{% block alg_content %}
<br>
<div class="clear"></div> 
<div class="pframe">
{% autoescape off %}
<pre>
{{alg_code}}
</pre>
{% endautoescape %}
</div><br><br>
<div class="clear"></div> 
{% autoescape off %}
{{alg_content}}
{% endautoescape %}
{% endblock %}



