{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
Импорт файла-архива
{% endblock %}

{% block content %}
<h3><a href="/new/zip/">Импорт файла-архива</a></h3>

<div class="file-edit-form">
<form id="edit" action="/new/zip/upload/" method="post" enctype="multipart/form-data"> {% csrf_token %}   
<p>Выберите файл-архив</p>
<div class="file-form-group"><input type="file" name="zip_file" placeholder="Имя файла-архива"  class="form-control" required /></div>
<div class="form-button"><button type="submit" name="submit" id="go" > ЗАГРУЗИТЬ </button></div>
</form>
</div>


{% endblock %}




