{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
{{alg_name}} - отчет о демонстрации алгоритма
{% endblock %}

{% block content_before_search %}
<h3>Демонстрация реализации алгоритма</h3>
<h1><a href="/demo/alg/{{group_name}}.{{module_name}}.{{alg_name}}/">{{alg_name_ex}}</a> </h1>
<p>каталог :: <a href="/namespace/{{group_name}}/">{{group_name}}</a> 
<br>модуль :: <a href="/module/{{owner_name}}.{{module_name}}/">{{owner_name}}.{{module_name}}</a> 
<h3>Результат демонстрации</h3>
<pre>
{{report}}
</pre>
<br><br><br>
{% endblock %}




