{% extends 'alg_right_en.html' %}
{% load i18n static %}

{% block title %}
Preview - upload descriptions
{% endblock %}

{% block content %}
<h2><a href="/new/descr/preview/?fn={{fn}}">Preview </a> - <a href="/new/descr/">Upload descriptions</a></h2>

<h3>List of the elements</h3>
<table width="100%">
<tr class="rowH"><th>NN</th><th>Type</th><th>Name</th><th>Param</th><th>Value</th></tr>
{% for cell in cells %}
<tr class="rowA">
{% autoescape off %}
<td>{{cell.0}}</td>
<td>{{cell.1}}</td>
<td>{{cell.2}}</td>
<td>{{cell.3}}.{{cell.4}}</td>
<td>{{cell.5}}</td>
{% endautoescape %}
</tr>
{% empty %}
<tr colspan=3><td>The elements were not found</td></tr>
{% endfor %}
</table>

{% if cells %}
<h3>Writing to library</h3>
<p>File was checked and ready to write to library</p>
<div class="form">
<form method=post action="/new/descr/insert/" enctype="multipart/form-data"> {% csrf_token %} 
<input type="hidden" name="fn" value="{{fn}}">
<input type=submit name="submit" value='Store &raquo; &nbsp;'><br><br>
</form></div>
{% endif %}
{% endblock %}

{% block right_column %}
<h3>Appearance</h3>
{% endblock %}



