{% extends 'alg_right_en.html' %}
{% load i18n static %}

{% block title %}
Upload source module
{% endblock %}

{% block content %}
{% if alg_title %}
<h3>Upload source module "<a href="/new/module/?title={{alg_title}}">{{alg_title}}</a>"</h3>
{% else %}
<h3><a href="/new/module/">Upload source module</a></h3>
{% endif %}

<div class="file-edit-form">
<form id="edit" action="/new/module/upload/" method="post" enctype="multipart/form-data"> {% csrf_token %}   
<p>Select source code file</p>
<div class="file-form-group"><input type="file" name="alg_file" placeholder="source code file"  class="form-control" required /></div>
<div class="form-button"><button type="submit" name="submit" id="go" > UPLOAD </button></div>
</form>
</div>
{% endblock %}




