{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
О проекте
{% endblock %}

{% block content_before_search %}
<h2><p id="jp">О проекте "Викиномия"</p></h2>
<p id="jp">Мне, как и многим другим программистам, приходилось искать готовые алгоритмы в интернете. Однако, бывало, что найденные алгоритмы были или требующие доработок, или не на языке проекта и требовали перевода.
</p>
<p id="jp">Вот я и подумал, что если сделать библиотеку алгоритмов, которую может пополнить любой программист. И еще: а что, если эти алгоритмы могут быть легко переведены на любой язык программирования?
</p>
<p id="jp">Так и появился проект "Wikinomy" - библиотека алгоритмов, которые могут использовать и пополнять каждый из нас.
</p>
<p id="jp">Приглашаю вас присоединиться к проекту!
</p>
<p id="jp">Сергей Зобин, основатель проекта.
</p>
<br><br>
{% endblock %}

