{% extends 'alg_right_en.html' %}
{% load i18n static %}

{% block title %}
Requested document was not found
{% endblock %}

{% block content_before_search %}
<h3>Document was not found</h3>
<p>Sorry, but we coundn't find this document in library</p>
<p>Probably was used wrong address or document was renamed or moved.</p>
<br><br>
{% endblock %}

{% block content_after_search %}
{% endblock %}