{% extends 'alg_right_en.html' %}
{% load i18n static %}

{% block title %}
{{cath_title}} - namespace
{% endblock %}

{% block seo %}
<meta name="keywords" content="{{cath_title}}, namespace" />
{% endblock %}

{% block content_before_search %}
<h3><a href="{{cath_link}}">{{cath_title}}</a> [namespace]</h3>
{% autoescape off %}
<ul>{{alg}}</ul>
{% endautoescape %}

{% if subcaths %}
<h3>Subcathalogue</h3>
{% autoescape off %}
{{subcaths}}
{% endautoescape %}
{% endif %}
<br><br>
{% endblock %}
