{% extends 'env_en.html' %}
{% load i18n static %}

{% block title %}Library of the algorithms{% endblock %}

{% block seo %}
<meta name="description" content="Wikinomy - free library of the algorithms" >
<meta name="keywords" content="algorythm, library, free, wikinomy" >
{% endblock %}

{% block content_after_search %}
{% autoescape off %}
	<h3>Catalogue</h3>
<table class="w100"><tr>
<td class="w33"> 
				<ul>{{cath.0}}</ul>
</td>
<td class="w33"> 
				<ul>{{cath.1}}</ul>
</td>
<td class="w33"> 
				<ul>{{cath.2}}</ul>
</td>
</tr></table>
{% endautoescape %}
{% autoescape off %}
<h3>Tags</h3>
<table class="w100" ><tr>
<td class="w33"> 
				<ul>{{tag.0}}</ul>
</td>
<td class="w33"> 
				<ul>{{tag.1}}</ul>
</td>
<td class="w33"> 
				<ul>{{tag.2}}</ul>
</td>
</tr></table>

{% if last_algs %}
<h3>Last updates</h3>
<ul>{{last_algs}}</ul>
{% endif %}
{% endautoescape %}
{% endblock %}

{% block right_column %}
<h3>&nbsp;&nbsp;&nbsp;&nbsp;Welcome!</h3>                                                                
<p class="jp">The Wikinomy project team you are welcomes! Wikinomy is a free library of algorithms that can use and fill up every one of us.</p>

{% endblock %}
