{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
Авторизация
{% endblock %}

{% block content %}
<h2>Авторизация</h2>

{% if rq_auth %}<p id="error">Операция требует авторизации</p>{% endif %}
{% if info %}<p id="error">{{info}}</p>{% endif %}

<div class="edit-form">
<form id="edit" action="/auth/" method="post"> {% csrf_token %}   
<input type="hidden" name="next" id="next" value="{{next}}" />
<div class="form-group"><input type="text" name="login" placeholder="Login"  id="login" value="{{login}}" class="form-control" required /></div>
<div class="form-group"><input type="password" name="passw" id="passw" placeholder="Password" value="" class="form-control" required /></div>
<div class="form-button"><button type="submit" name="submit" id="go" > ВХОД </button></div>
</form>
</div>
{% endblock %}

