{% extends 'alg_right_en.html' %}
{% load i18n static %}

{% block title %}
Upload descriptions
{% endblock %}

{% block content %}
<h3><a href="/new/descr/">Upload descriptions</a></h3>
{% if info %}<p id="error">{{info}}</p>{% endif %}
<div class="file-edit-form">
<form id="edit" action="/new/descr/upload/" method="post" enctype="multipart/form-data"> {% csrf_token %}   
<p>Select file with descriptions of the liblary elements (xml)</p>
<div class="file-form-group"><input type="file" name="descr_file" placeholder="file with descriptions of the liblary elements (xml)" accept="text/xml" class="form-control" required /></div>
<div class="form-button"><button type="submit" name="submit" id="go" > UPLOAD </button></div>
</form>
</div>

{% endblock %}




