{% extends 'alg_right_en.html' %}
{% load i18n static %}

{% block title %}
{{alg_title}} [{{owner_name}}.{{module_name}}] - demo of the algorithm implementation 
{% endblock %}

{% block content_before_search %}

<h3>Demo of the algorithm implementation <a href="/demo/alg/{{owner_name}}.{{module_name}}.{{group_name}}.{{alg_name}}/">{{alg_title}} [{{owner_name}}.{{module_name}}]</a></h3>
<h1><a href="/alg/{{group_name}}.{{alg_name}}/">{{alg_name_ex}}</a> </h1>
<p>catalogue :: <a href="/namespace/{{group_name}}/">{{group_name}}</a> 
<br>module :: <a href="/module/{{owner_name}}.{{module_name}}/">{{owner_name}}.{{module_name}}</a> 
</p>
{% if demos %}
<div class="form">
<form action="/demo/alg/{{owner_name}}.{{module_name}}.{{group_name}}.{{alg_name}}/exec/" method="post"> {% csrf_token %} 
<table><tr>
<td>Select demo-code for algorithm work checking</td>
</tr><tr>
<td> <input name="alg_notation_id" type="hidden" value="{{alg_notation_id}}">
<select name="demo_id" id="demo_id" />
{% for demo in demos %}
<option value="{{demo.6}}">{{demo.2}}.{{demo.1}} - {{demo.5}}.{{demo.4}} - {{demo.7}}</option>
{% endfor %}
</select></td>
</tr><tr>
<td width="105"><button type="submit" name="submit" id="go"> Start demo &raquo; &nbsp; </button></td>
</tr></table>
</form>
</div>
{% else %}
<div>
<p>Algorithm has no testing code</p>
<p><a href="/demo/alg/add/{{group_name}}.{{alg_name}}/">Upload module with demo code &raquo;</a></p>
</div>
{% endif %}
{% endblock %}

