{% extends 'alg_view_en.html' %}
{% load i18n static %}

{% block sel_code %}
class="selected"
{% endblock %}

{% block alg_content %}
<br>
<div class="clear"></div> 
<div class="pframe"><div class="pblock" id="l0">
{% autoescape off %}
{{alg_code}}
{% endautoescape %}
</div></div><br><br>
<div class="clear"></div> 
{% autoescape off %}
{{alg_content}}
{% endautoescape %}
{% endblock %}



