{% extends 'env_en.html' %}
{% load i18n static %}

{% block right_column %}
{% autoescape off %}
	<h3>Catalogs</h3>
		<ul>{{cath}}</ul>
	<h3>Tags</h3>
		<ul>{{tag}}</ul>
{% endautoescape %}
{% endblock %}
