{% extends 'alg_right_ru.html' %}
{% load i18n static %}

{% block title %}
Поиск "{{search_text}}" 
{% endblock %}

{% block content_before_search %}
{% endblock %}

{% block content_after_search %}
<h3>Результаты поиска</h3>
<p>По данному запросу в библиотеке ничего не нашлось</p>
<p><strong>Создать алгоритм "<a href="/new/module/?title={{search_text}}">{{search_text}}</a>"</strong></p>
{% endblock %}

