{% extends 'env_counter.html' %}
{% load i18n static %}

{% block lang %}lang="ru"{% endblock %}

{% block head %}
<title>{% block title %}{% endblock %} - Wikinomy</title>
<meta name="yandex-verification" content="d964c275fcad6cd7" />
<meta property="og:type" content="website" >
<meta property="og:site_name" content="Wikinomy" >
{% block seo %} {% endblock %}
{% endblock %}

{% block header %}
		<h1><a href="/">Wikinomy</a></h1>
		<h2>Библиотека алгоритмов</h2>
{% endblock %}

{% block menu %}
	<li class="first"><a href="/" accesskey="1" title="">Home</a></li>
	<li><a href="/about/" accesskey="2" title="">О проекте</a></li>
{% endblock %}

{% block right_menu %}
{% if code %}
	<li class="first"><a href="/user/" accesskey="3" title="">{{user}}</a></li>
	<li class="first"><a href="/logout/" accesskey="4" title="">Выход</a></li>
{% else %}
	<li class="first"><a href="/auth/" accesskey="3" title="">Вход</a></li>
{% endif %}
{% endblock %}

{% block content %}

      {% block content_before_search %} {% endblock %} 
				<h3>Поиск алгоритма</h3>
                                <div id="search-form"> 
                                <form id="search" action="/search/" method="post"> {% csrf_token %} 
                                <table><tr>
                                <td > <input type="text" name="search" id="txt" value="{{search_text}}" /></td>
                                <td id="search_btn"><button type="submit" name="submit" id="go"> Искать &raquo; &nbsp; </button></td>
                                </tr></table>
                                </form>
                                </div>
      {% block content_after_search %} {% endblock %} 

{% endblock %}

{% block footer %}
                <div class="fleft"><p>Библиотека исходного кода &copy; Проект Wikinomy, 2016-2017.</p></div>
                <div class="fright"><p>Проект <a href="http://zobin.org/">zobin.org</a>.</p></div>
{% endblock %}
