{% load i18n static %}
<!DOCTYPE html>
<html {% block lang %}{% endblock %}>
<head>
{% block head %} {% endblock %}
<meta name="generator" content="Wikinomy 1.0">
<meta name="viewport" content="width=device-width">
<meta http-equiv="content-type" content="text/html; charset=utf-8" >
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" >
<link rel="stylesheet" href="{% static 'css/default.css' %}" type="text/css" >
{% if has_source %}
<link rel="stylesheet" href="{% static 'css/wikialg.css' %}" type="text/css" >
{% endif %}
</head>
<body>
<div id="outer">
	<div id="header">
            {% block header %} {% endblock %}
	</div>
	<div id="menu">
		<ul>
            {% block menu %} {% endblock %}
		</ul>

	<div id="right_menu">
		<ul>
            {% block right_menu %} {% endblock %}
		</ul>
		<div class="clear"></div>
	</div>

		<div class="clear"></div>
	</div>
	<div id="content">
		<div id="primaryContentContainer">
			<div id="primaryContent">
            {% block content %} {% endblock %}
			</div>
		</div>
		<div id="secondaryContent">
                        {% block right_column %} {% endblock %} 
		</div>
		<div class="clear"></div>
	</div>
	<div id="footer">
            {% block footer %} {% endblock %}
	</div>
{% block counters %} {% endblock %}
</div>
</body>
</html>
